APP_HOST=excalidraw.your-domain.net
ROOM_HOST=excalidraw-room.your-domain.net
STORAGE_BACKEND_HOST=excalidraw-storage.your-domain.net

TRAEFIK_LABEL_ID=excalidraw #or whatever you want to use
TRAEFIK_NETWORK_NAME=traefik_docker_network_name
TRAEFIK_ENTRYPOINT=traefik_https_entrypoint_name

DB_USER=mongodb_user
DB_PASS=mongodb_password
DB_VOLUME_PATH=path_for_mongodb_storage

MONGOEXPRESS_HOST=excalidraw-db.your-domain.net
MONGOEXPRESS_USER=mongoexpress_user
MONGOEXPRESS_PASS=mongoexpress_pass
